*.sub
test.cpp
mainCUDAZ.*
openZZZ.*
.idea/
cmake-build-debug/

input/nlpkkt80/
input/webbase-1M/
input/ML_Laplace/
input/af_1_k101/
input/rma10/
input/PR02R/
input/thermal2/
input/Cube_Coup_dt0/
input/cant/

output/bcsstk17.ppm
output/FEM_3D_thermal1.ppm

